body {
    height: auto;
    width: auto;
    border: 1px;

}

h1 {
font-family: 'Roboto', sans-serif;
    
}

h2{
font-family: 'Roboto', sans-serif;
font-weight: 300;    


}

a:before {
    content: " ";
    display: inline-block;
    width: 10px
    
}

a {
    font-size: 15px;
    color: firebrick;
}